@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-colour: #787878;
  --header-colour: #000000;
  --header-txt-colour: #ffffff;
  --mini-card-header: #525252;
  --clr-main-font: #333333;
  --clr-light-grey: #4f4f4f;
  --clr-med-grey: #ffffff4d;
  --clr-blue: #0000ff;
  --clr-light-blue: #6b7b92;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: var(--text-colour);
}

body {
  font-family: Raleway;
  min-width: 360px;
  min-height: 100vh;
}

main {
  line-height: 1.5rem;
  margin-top: 5rem;
}

.main-header {
  width: 100%;
  padding-bottom: 1rem;
  background-color: var(--header-colour);
}

.nav li {
  display: inline;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: var(--header-txt-colour);
  padding: 0.5rem;
}

.nav-link:hover,
.nav-link:focus-visible {
  background-color: var(--clr-med-grey);
}

.main-nav {
  text-align: center;
  font-size: 1.1rem;
  font-weight: lighter;
}

.grey-border {
  border-top: 1px solid var(--clr-med-grey);
  border-bottom: 1px solid var(--clr-med-grey);
}

.grey-btm-border {
  border-bottom: 2px solid var(--clr-main-font);
}

.light-grey-btm-border {
  border-bottom: 1px solid var(--clr-light-blue);
}

.main-nav li {
  padding: 0 5%;
}

.app-name {
  text-align: center;
  font-size: 4rem;
}

.content-section {
  margin: 1rem;
  font-family: "Lexend", sans-serif;
  font-style: normal;
  font-size: 0.88rem;
}

.content-section p {
  color: var(--clr-light-grey);
}

.transparent-border {
  background-color: #00000010;
  padding: 5rem;
  border-radius: 30px;
  border: thick double black;
  box-shadow: 0rem 1rem 1rem hsl(100, 27%, 2%);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 0.2rem;
  text-align: center;
}

.container-header {
  color: var(--clr-main-font);
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  line-height: 2rem;
}

.section-header {
  color: var(--clr-main-font);
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.sub-section-header {
  color: var(--clr-main-font);
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.comment-div{
  text-align: center;
}

.article-header {
  color: var(--clr-main-font);
  text-align: start;
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}
.article-para {
  color: var(--clr-main-font);
  font-size: 1rem;
  margin-top: 2rem;
  line-height: 1.5rem;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.article-list li {
  margin: 2rem;
  background-color: hsla(0, 0%, 0%, 0.061);
  border-radius: 30px;
  border: solid black;
  width: 300px;
  width: 100%;
}

.article-list li:hover,
.article-list li:focus-visible {
  box-shadow: 0rem 1rem 1rem hsl(100, 27%, 2%);
}

.comment-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.comment-card {
  text-align: left;
  position: relative;
  margin: 1rem;
}

.mini-header {
  text-align: left;
  position: relative;
  margin-bottom: 0.5rem;
  color: var(--mini-card-header);
  font-size: 0.8rem;
}

.article-img {
  width: 100%;
  border: solid white;
  border-radius: 20px;
}

.horizontal-align {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  font-size: 0.88rem;
}

.nav-btn {
  margin-bottom: 1rem;
  background: none;
  border: none;
  color: var(--clr-blue);
  text-decoration: underline;
  cursor: pointer;
}

.article-btns button {
  margin-right: 0.5rem;
  width: 5rem;
  height: 2rem;
  border-radius: 30px;
  cursor: pointer;
  background-color: var(--header-txt-colour);
  color: var(--header-colour);
}

.article-btns button:hover,
.article-btns button:focus-visible {
  background-color: var(--clr-light-blue);
}

.comment-btns button {
  margin: 0.25rem;
  border-radius: 30px;
  width: 4rem;
  height: 1.5rem;
  cursor: pointer;
  background-color: #6b7b92;
}

.comment-btns button:hover,
.comment-btns button:focus-visible {
  background-color: var(--clr-med-grey);
}

.title-link {
  text-decoration: none;
}

.title-link:hover,
.title-link:focus-visible {
  text-decoration: underline;
}

@media only screen and (min-width: 360px) {
  html {
    font-size: 18px;
  }

  .article-list li {
    max-width: 800px;
  }
}
