@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "./vars.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

html {
  font-size: 16px;
  color: var(--text-colour);
  scroll-behavior: smooth;
}

body {
  font-family: Raleway;
  min-width: 360px;
  min-height: 100vh;
}

main {
  line-height: 1.5rem;
  margin-top: 5rem;
}

.main-header {
  width: 100%;
  padding-bottom: 1rem;
  background-color: var(--header-colour);
}

.nav li {
  display: inline;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: var(--header-txt-colour);
  padding: 0.5rem;
}

.nav-link:hover,
.nav-link:focus-visible {
  background-color: var(--clr-med-grey);
}

.main-nav {
  text-align: center;
  font-size: 1.1rem;
  font-weight: lighter;
}

.grey-border {
  border-top: 1px solid var(--clr-med-grey);
  border-bottom: 1px solid var(--clr-med-grey);
}

.post-article {
  border: 1px solid black;
  margin: 1rem;
  width: 250px;
}

.grey-btm-border {
  border-bottom: 2px solid var(--clr-main-font);
}
.grey-tp-border {
  border-top: 2px solid var(--clr-main-font);
}

.light-grey-btm-border {
  border-bottom: 1px solid var(--clr-light-blue);
}

.main-nav li {
  padding: 0 5%;
}

.app-name {
  text-align: center;
  font-size: 4rem;
}

.content-section {
  margin: 1rem;
  font-family: "Lexend", sans-serif;
  font-style: normal;
  font-size: 0.88rem;
}

.content-section p {
  color: var(--clr-light-grey);
}

.transparent-border {
  max-width: 800px;
  min-width: 360px;
  background-color: #00000010;
  padding: 5rem;
  border-radius: 30px;
  border: thick double black;
  box-shadow: 0rem 1rem 1rem hsl(100, 27%, 2%);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 0.2rem;
  text-align: center;
}

.center-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.container-header {
  color: var(--clr-main-font);
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  line-height: 2rem;
}

.section-header {
  color: var(--clr-main-font);
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.sub-section-header {
  color: var(--clr-main-font);
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 0.25rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}

.comment-div {
  text-align: center;
}

.article-header {
  color: var(--clr-main-font);
  text-align: start;
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 2rem;
}
.article-para {
  color: var(--clr-main-font);
  font-size: 1rem;
  margin-top: 2rem;
  line-height: 1.5rem;
}

.article-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.topic-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.topic-list li {
  margin: 1.5rem;
  padding: 1rem;
  background-color: hsla(0, 0%, 0%, 0.061);
  border: solid black;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0rem 0.5rem 1rem hsl(100, 3%, 21%);
}

.topic-list li h3 {
  color: var(--header-colour);
}

.article-list li {
  margin: 2rem;
  background-color: hsla(0, 0%, 0%, 0.061);
  border-radius: 30px;
  border: solid black;
  width: 300px;
  width: 100%;
}

.topic-list li:hover,
.topic-list .nav-link:focus-visible {
  background-color: #98a7bc;
  cursor: pointer;
}

.article-list li:hover,
.article-list li:focus-visible,
.topic-list li:hover,
.topic-list .nav-link:focus-visible {
  box-shadow: 0rem 1rem 1rem hsl(100, 27%, 2%);
}

.comment-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.comment-card {
  text-align: left;
  position: relative;
  margin: 1rem;
}

.mini-header {
  text-align: left;
  position: relative;
  margin-bottom: 0.5rem;
  color: var(--mini-card-header);
  font-size: 0.8rem;
}

.article-img {
  width: 100%;
  border: solid white;
  border-radius: 20px;
}

.align-row {
  display: flex;
  justify-content: flex-start;
}

.red-ast {
  color: red;
  font-size: 0.7rem;
  margin-left: 0.2rem;
}

.horizontal-align {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  font-size: 0.88rem;
}

.align-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sortby-btns {
  flex-direction: column;
}

.horizontal-align-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  font-size: 0.88rem;
}

.sortby-form {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav-btn {
  margin-bottom: 1rem;
  background: none;
  border: none;
  color: var(--clr-blue);
  text-decoration: underline;
  cursor: pointer;
}

.article-btns,
.sortby-btn,
.order-btn {
  margin-right: 0.5rem;
  width: 5rem;
  height: 2rem;
  border-radius: 30px;
  cursor: pointer;
  background-color: var(--header-txt-colour);
  color: var(--header-colour);
  border: 1px solid black;
}

.sortby-btn {
  margin-top: 5px;
  box-shadow: 0 3px #999;
}

.sortby-btn:active,
.order-btn:active,
.login-form button:active,
.profile-card button:active,
.post-article-btn:active {
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

.order-btn {
  margin-left: 0.5rem;
  background-color: #98a7bc;
  color: black;
  box-shadow: 0 3px #999;
}

.sortby-btn:hover,
.sortby-btn:focus-visible,
.order-btn:hover,
.order-btn:focus-visible {
  background-color: var(--text-colour);
}

.sortby-btn.active-btn {
  background-color: #98a7bc;
  color: black;
}

.vote-btns {
  margin-right: 0.5rem;
  width: 6rem;
  height: 2rem;
  border-radius: 30px;
  background-color: var(--header-txt-colour);
  color: var(--header-colour);
  border: 1px solid black;
  font-size: 13px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vote-btns button {
  border: 0;
  padding: 1px;
  border-radius: 30px;
  margin: 0.25rem;
  cursor: pointer;
}

.article-btns:hover,
.article-btns:focus-visible,
.vote-btns button:hover {
  background-color: var(--clr-light-blue);
}

.vote_comment,
.delete_comment {
  margin: 0.25rem;
  border-radius: 30px;
  width: 4rem;
  height: 1.5rem;
  cursor: pointer;
  background-color: #98a7bc;
}

.delete_comment {
  background-color: #92706b;
}

.comment-btns button:hover,
.comment-btns button:focus-visible {
  background-color: var(--clr-med-grey);
}

.title-link,
.topic-link {
  text-decoration: none;
  cursor: pointer;
  color: var(--clr-main-font);
}

.title-link:hover,
.title-link:focus-visible {
  text-decoration: underline;
}

.comment-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 500px;
}

.profile-card {
  padding: 16px;
  margin: 16px;
}

.profile-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid black;
}

.login-form input {
  margin: 0.25rem 0rem 0.5rem 0rem;
  width: 100%;
  padding: 0.5rem 0.5rem;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
}

.login-form button,
.profile-card button,
.post-article-btn {
  width: 10rem;
  height: 2rem;
  margin-top: 0.8rem;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  border: 1px solid black;
  cursor: pointer;
  background-color: #98a7bc;
  color: black;
  box-shadow: 0 3px #999;
}

.profile-card button.logout-btn {
  background-color: #92706b;
}

.post-article-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 360px;
  max-width: 800px;
  background-color: #00000010;
  padding: 1rem;
  border-radius: 30px;
  border: thick double black;
  box-shadow: 0rem 1rem 1rem hsl(100, 27%, 2%);
}
.post-article-form h2 {
  color: var(--clr-main-font);
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 2rem;
}

.post-article-form label {
  text-align: left;
  font-size: 1rem;
}

.post-article-form select {
  height: 2.7rem;
  max-width: 300px;
  margin: 0.25rem 0rem 1rem 0rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border: 0.15rem solid #ccc;
  border-radius: 4px;

  font-size: 16px;
  font-family: "Lexend", sans-serif;
}

.post-article-form input {
  height: 2rem;
  width: 100%;
  margin: 0.25rem 0rem 1rem 0rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border: 0.15rem solid #ccc;
  border-radius: 4px;

  font-size: 16px;
  font-family: "Lexend", sans-serif;
}

.invalid {
  border: 1px solid red;
  background-color: #f9e9e9;
}

.comment-form textarea {
  height: 5rem;
  width: 100%;
  margin: 0.25rem 0rem 1rem 0rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border: 0.15rem solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: vertical;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  line-height: 1.5rem;
}

.post-article-form textarea {
  height: 5rem;
  width: 100%;
  margin: 0.25rem 0rem 1rem 0rem;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  border: 0.15rem solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 16px;
  font-family: "Lexend", sans-serif;
  line-height: 1.5rem;
}

.comment-form button,
.post-article-btn {
  width: 10rem;
  height: 2rem;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  border: 1px solid black;
  cursor: pointer;
  background-color: #98a7bc;
}

.comment-form button:hover,
.comment-form button:focus-visible,
.login-form button:hover,
.profile-card button:hover,
.login-form button:focus-visible,
.profile-card button:focus-visible,
.post-article-btn:hover,
.post-article-btn:focus-visible {
  background-color: var(--clr-med-grey);
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.error-container {
  border: 0.15rem solid #ccc;
  background-color: #f5d8d8;
  color: rgb(0, 0, 0);
}

@media only screen and (min-width: 475px) {
  html {
    font-size: 18px;
  }
  .article-list li {
    max-width: 800px;
  }
  .sortby-btns {
    flex-direction: row;
  }
}
