:root {
  --text-colour: #787878;
  --header-colour: #000000;
  --header-txt-colour: #ffffff;
  --mini-card-header: #525252;
  --clr-main-font: #333333;
  --clr-light-grey: #4f4f4f;
  --clr-med-grey: #ffffff4d;
  --clr-blue: #0000ff;
  --clr-light-blue: #6b7b92;
}
